@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --accent-color: #8672FF;
  --base-color: white;
  --text-color: #2E2B41;
  --input-color: #F3F0FF;
  --error-color: #f06272;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(/background.webp);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  overflow-y: auto; /* Ensures body is scrollable */
}


body::-webkit-scrollbar {
  display: none;
}
header {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

#add-organization-button {
  background-color: var(--accent-color);
  color: var(--base-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-organization-button:hover {
  background-color: var(--text-color);
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#organization-list {
  flex: 1;
  padding: 20px;
  background-color: var(--base-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

#organization-list h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

#fallback-message {
  font-size: 1rem;
  color: var(--error-color);
  text-align: center;
}

#organizations {
  list-style: none;
  padding: 0;
  margin: 0;
}

#organizations li {
  background-color: var(--input-color);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.organization-item:hover {
  background-color: #e0e4f2;
  cursor: pointer;
}

.organization-actions button {
  background-color: var(--accent-color);
  color: var(--base-color);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.organization-actions button:hover {
  background-color: var(--text-color);
}

.user-details-container {
  flex: 1;
  padding: 20px;
  background-color: var(--base-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details-header img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-details-header h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.user-details-header small {
  font-size: 1rem;
  color: #777;
}

.user-details-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-details-body .column {
  flex: 1;
}

#managed-organizations {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  max-height: 100px; /* Adjust height */
  overflow-y: auto;
}

#managed-organizations li {
  background-color: var(--input-color);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Hide scrollbar, but allow scrolling */
#managed-organizations::-webkit-scrollbar {
  display: none;
}

#main-content.blur-background {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

#managed-organizations {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--base-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 500px;
  max-height: 80%; /* Ensure the modal does not take up the whole height */
  overflow: auto; /* Allow scrolling if content exceeds height */
}


.modal-content {
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--accent-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

.close-button:hover {
  background:var(--text-color);
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dimmed background */
  z-index: 1000; /* Ensure overlay is above other elements */
  display: none; /* Initially hidden */
}

.modal-overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  z-index: 1000; /* Ensure it is below the modal but above other content */
}


.modal-show .modal-overlay {
  display: block; /* Show the overlay when the modal is visible */
}

.modal-show .modal {
  display: block; /* Ensure the modal is visible when the overlay is visible */
}

.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#organization-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto; /* Allows scrolling if content overflows */
  z-index: 1000; /* Ensure it's above the overlay */
  display: none; /* Hidden by default */
}

#organization-modal::-webkit-scrollbar {
  display: none;
}

.modal input,
.modal select,
.modal textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#modal-overlay.modal-show {
  display: block;
}

.modal button {
  width: 100%;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--base-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: var(--text-color);
}

.user-details-container {
  flex: 1;
  padding: 20px;
  background-color: var(--base-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 60vh; /* Adjust height */
}

#managed-organizations {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 100px; /* Adjust height */
  overflow-y: auto;
}

/* Hide scrollbar, but allow scrolling */
#managed-organizations::-webkit-scrollbar {
  display: none;
}

#managed-organizations {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Responsive styles */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    gap: 10px;
  }

  .user-details-container {
    order: 2;
    margin: 0 10px;
  }

  #organization-list {
    margin: 0 10px;
  }

  #add-organization-button {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  main {
    flex-direction: column;
    padding: 10px;
  }

  .user-details-container,
  #organization-list {
    margin: 0 10px;
  }

  #add-organization-button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .organization-description {
    display: none;
  }
}
